body {
  margin: 0;
  background: darkgray;
  overflow: hidden;
  text-align: center;
}

#carCanvas {
  background: #2a5;
}

#networkCanvas {
  background: black;
}

.car-ai-buttons {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
